.TF-chooser {
  width: auto;
  height: 256px;
  padding: 10px;
  position: relative;
  background-color: slategrey;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TF-chooser > img.preview {
  width: 256px;
  height: 256px;
  border-radius: 3px;
  position: absolute;
}

.TF-chooser .TF-tabs {
  position: absolute;
  left: 276px;
  right: 10px;
  height: 256px;
}

.TF-chooser .TF-tabs>input { display: none; }
.TF-chooser .TF-tabs>label.TF-tab {
  /*display: block;
  float: left;*/
  display: inline-block;
  background-color: #7ac0d7;
  border-radius: 3px 3px 0 0;
  padding: 5px 10px 0 10px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  margin-left: 5px;
}

.TF-chooser .TF-tabs input:checked+label.TF-tab {
  background-color: lightblue;
  border-bottom-color: lightblue;
}

.TF-chooser .TF-tabs .TF-tabs-group>div {
  display: none;
  background-color: lightblue;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0px;
  top: 25px;
  bottom: 0px;
  overflow-y: scroll;
}

.TF-chooser .TF-tabs .TF-tabs-group>div.active {
  display: block;
}

/* styles for content inside forms */
.TF-chooser .TF-tabs-group input { display: none; }
.TF-chooser .TF-tabs-group label {
  display: block;
  float: left;
  border: 2px solid transparent;
  border-radius: 3px;
  margin: 5px;
}

.TF-chooser .TF-tabs-group input:checked+label {
  border-color: darkgreen;
}

.TF-chooser {
  margin-bottom: 2em;
}
textarea { width: 256px; height: 4em; }
